*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Rubik", sans-serif;
}
.container{
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
    background-color: #000000;
    padding: 1rem;
    position:fixed;
    overflow: hidden;
    width: 100%;

}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}
.logo{
    font-size: 1.5rem;
    letter-spacing: 3px;
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #4957DD 0%, #824DEA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
a{
text-decoration: none;
color: white;
}

.menuButton{
    color: white;
    font-size: 2rem;
}
nav ul{
    display: none;
}
.section1 {
    padding-top: 10rem;
    padding-bottom: 5rem;
}
.section1 h3{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    color: #1f1e1e;
}
.section1 h1{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 1.5rem;
    letter-spacing: 3px;
}
.section2,.section3,.section4,.section5,.section6,footer{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
section h2,h3,h4,h5{
    margin-bottom: 1rem;
    font-weight: 600;
    color:  #1f1e1e;

}
p{
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    line-height: 26px;
    color: rgb(119, 119,119);
    margin-block-end: 20px;
    letter-spacing: 0.5px;
    margin-bottom: 2rem;
    padding-top: 1rem;
}
.cvButton,.hireMe{
    border: 1px solid #824DEA;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem;
    background: -webkit-linear-gradient(0deg, #4957DD 0%, #824DEA 100%);
    border-radius: 0.25rem;
}
.services{
    display: grid;
    place-items: center;
    
}
.servicesLogo,.projectsImg{
    margin-bottom: 2rem;
    margin-top: 2rem;
}
section h4{
    font-size: 20px;
    font-weight: 500;
}
article{
    padding: 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.5s ease-in-out;
}
.article1{
    border: 1px solid #824DEA;
}
.services:hover{
    transform: scale(1.1); 
}
.projects{
    display: grid;
    place-items: center;
}
.projectsImg{
    width: 310px;
    height: 340px;
}
.clientImg{
    margin-top: 1rem;
    padding: 1rem;
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.client{
    display: grid;
    place-items: center;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .heading{
    letter-spacing: 3px;
    line-height: 1.6;
    background: -webkit-linear-gradient(0deg, #4957DD 0%, #824DEA 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
form{
    padding-top: 2rem;
}
.section6,.section4,.section2{
    background-color: #00000005;
}
footer .container{
    display: grid;
    place-items: center;
}
footer h5{
    font-size: 12px;
    margin-top: 1rem;
    color:rgba(255, 255, 255, 0.918) ;
    padding-top: 1rem;
}
.socialMedia a:hover{
    transform: scale(1.1);
    color: #04AA6D;
}
.socialMedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    padding-top: 1rem;
    transition: 0.5s ease-in-out;
    
}
.copyRight{
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    font-size: 10px;
    color: rgb(119, 119,119);
}
footer{
    background-color: #000000;

}
.avatarPc{
    display: none;
}
.hireMe:hover{
   color:black;
}
.cvButton:hover{
    color:black;
}

@media only screen and (min-width: 600px) {
    nav ul{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    nav ul a:hover{
        color: green;
        opacity: 100%;
    }
    .menuButton{
        display: none;
    }
    .serviceList{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
    }
    .projectList{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 1rem;
    }
   
}

@media only screen and (min-width: 768px) {
    .avatarPc{
        display: grid;
        width: 400px;
        height: 400px;
    }
    .mainSection{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .serviceList{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 1rem;
    }
    nav ul{
        gap: 2rem;
    }
}